.zero {
    background-color: black;
}
.one {
    background-color: grey;
}
.two {
    background-color: lightgrey;
}
.three {
    background-color: yellow;
}

.two_one
{
    background-color: orange;
}
.two_two
{
    background-color: red;
}
.two_three
{
    background-color: darkred;
}